.root {
  -fx-font-size: 14 px;
  -fx-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  -fx-font-weight: normal;
  -fx-text-fill:#232529;
  -fx-background-color: #f7f7f7;
}

.text {
  -fx-text-fill:#232529;
}

.button {
  -fx-border-style: solid;
  -fx-border-width: 1;
  -fx-border-color: #757575;
  -fx-border-radius: 10 10 10 10;
  -fx-text-fill:#232529;
  -fx-background-color: #f7f7f7;
}

.button:hover {
  -fx-border-width: 1;
  -fx-border-color: #757575;
  -fx-background-radius: 10 10 10 10;
  -fx-background-color: #b9b9b9;
}

.combo-box {
  -fx-border-style: solid;
  -fx-border-width: 1;
  -fx-border-color: #757575;
  -fx-text-fill:#232529;
  -fx-background-color: #f7f7f7;
}

.combo-box .cell {
  -fx-text-fill:#232529;
}

.combo-box-base > .arrow-button > .arrow {
  -fx-background-color:#232529;
  -fx-background-insets: 0 0 0 0;
  -fx-padding: 2 4;
  -fx-shape: "M 0 0 H 7 L 3.5 4 z";
}

.combo-box-popup > .list-view {
  -fx-border-style: solid;
  -fx-border-width: 1;
  -fx-border-color: #757575;
  -fx-background-color: #4f4e4e;
  -fx-background-insets: 0, 1;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
  -fx-padding: 1 10;
  -fx-background-color: #f7f7f7;
}

.combo-box-popup > .list-view > .placeholder > .label {
  -fx-text-fill:#232529;
}

.text-field {
  -fx-border-style: solid;
  -fx-border-width: 1;
  -fx-border-color: #1a170e;
  -fx-text-fill:#232529;
  -fx-background-color: #f7f7f7;
}

.label {
  -fx-font-size: 17 px;
  -fx-font-weight: bold;
  -fx-text-fill:#232529;
}

.table-view {
  -fx-base: #f7f7f7;
  -fx-background-color: #f7f7f7;
  -fx-control-inner-background: #f7f7f7;
  -fx-table-cell-border-color: transparent;
  -fx-table-header-border-color: transparent;
}

.table-view .column-header-background {
  -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .filler {
  -fx-border-width: 0 0 1 0;
  -fx-background-color: transparent;
  -fx-border-color: rgb(32, 32, 25);
  -fx-border-insets: 2;
  -fx-font-weight: normal;
}

.table-view .column-header .label {
  -fx-alignment: center-left;
}

.table-row-cell {
  -fx-border-style: solid;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: darkgrey;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track  {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0em;
  -fx-border-radius: 0em;
}

.table-view .scroll-bar:vertical > .increment-button,
.table-view .scroll-bar:vertical > .decrement-button,
.table-view .scroll-bar:horizontal > .increment-button,
.table-view .scroll-bar:horizontal > .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
  -fx-padding: 0.25em 0.35em;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
  -fx-background-color: derive(#4d4c4f, 90%);
  -fx-background-insets: 2, 0, 0;
  -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb:hover, 
.scroll-bar:horizontal .thumb:hover {
  -fx-background-color: derive(#4d4c4f, 10%);
  -fx-background-insets: 2, 0, 0;
  -fx-background-radius: 0em;
}

.menu-section {
  -fx-background-color: #232529;
  -fx-font-size: 17 px;
  -fx-font-weight: bold;
}

.menu-section .button {
  -fx-border-width: 0;
  -fx-text-fill: #f7f7f7;
  -fx-background-color: transparent;
}

.menu-section .button:hover {
  -fx-font-size: 18 px;
  -fx-border-width: 0;
  -fx-text-fill: #bebebe;
  -fx-background-color: transparent;
}

.menu-job-section .button {
  -fx-font-size: 17 px;
  -fx-font-weight: bold;
  -fx-border-width: 0;
  -fx-text-fill: #232529;
  -fx-background-color: transparent;
}

.menu-job-section .button:hover {
  -fx-font-size: 18 px;
  -fx-border-width: 0;
  -fx-text-fill: #424344;
  -fx-background-color: transparent;
}
